<div class="barra_navegacion">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand" style="margin-right: 20px;" href="#">Comparador Precios</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/productos" routerLinkActive="{{enlaceSeleccionado}}">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Noticias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Configurador PC</a>
            </li>
            </ul>
            <ng-template [ngIf]='!fnLogged()' [ngIfElse]='sesionIniciada'>
                <a class="btn btn-success" routerLink="/login">Iniciar Sesión</a>
            </ng-template>
            <ng-template #sesionIniciada>
                <a class="btn btn-danger" (click)="doLogout()" routerLink='.'>Cerrar Sesión</a>
            </ng-template>
        </div>
        </div>
    </nav>
</div>