<div class="contenido">
    <div class="titulo"><h2>Comparador Precios</h2></div>
    <div class="subtitulo"><h3>Configure su PC ahora</h3></div>
    <div class="parrafo"><p>Gracias a nuestro buscador, que compara entre cientos de webs, enocntraras los Componentes y Periféricos que necesitas al mejor precio</p></div>
    <div class="botones">
        <button type="button" class="btn btn-dark btn-lg">Configurador PC</button>
        <button type="button" class="btn btn-dark btn-lg">Productos</button>
    </div>
</div>